<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.faurecia.model.User"/>
        <mapping class="com.faurecia.model.Role"/>
        <mapping class="com.faurecia.model.Plant"/>
        <mapping class="com.faurecia.model.Item"/>
        <mapping class="com.faurecia.model.Supplier"/>
        <mapping class="com.faurecia.model.SupplierItem"/>
        <mapping class="com.faurecia.model.PlantSupplier"/>
    </session-factory>
</hibernate-configuration>