<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPCubeUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SPCubeUtility.Properties.Settings>
            <setting name="SPCubeUtility_UploadDocument_WSUpload" serializeAs="String">
                <value>http://spchina/_vti_bin/wsupload.asmx</value>
            </setting>
            <setting name="SPCubeUtility_DWS_Dws" serializeAs="String">
                <value>http://spchina/_vti_bin/dws.asmx</value>
            </setting>
        </SPCubeUtility.Properties.Settings>
    </applicationSettings>
</configuration>