<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>
		
	<component
		id="DistributionUserMgr.service"
	  service="Dndp.Service.Distribution.IDistributionUserMgr, Dndp.Service"
	  type="Dndp.Service.Distribution.Impl.DistributionUserMgr, Dndp.Service"/>

	<component
		id="UserMgr.service"
		service="Dndp.Service.Security.IUserMgr, Dndp.Service"
		type="Dndp.Service.Security.Impl.UserMgr, Dndp.Service" />

	<component
			id="RoleMgr.service"
			service="Dndp.Service.Security.IRoleMgr, Dndp.Service"
			type="Dndp.Service.Security.Impl.RoleMgr, Dndp.Service" />

	<component
			id="SecurityMgr.service"
			service="Dndp.Service.Security.ISecurityMgr, Dndp.Service"
			type="Dndp.Service.Security.Impl.SecurityMgr, Dndp.Service" />

	<component
			id="CriteriaMgr.service"
			service="Dndp.Service.Criteria.ICriteriaMgr, Dndp.Service"
			type="Dndp.Service.Criteria.Impl.CriteriaMgr, Dndp.Service" />

	<component
			id="DataSourceMgr.service"
			service="Dndp.Service.Dui.IDataSourceMgr, Dndp.Service"
			type="Dndp.Service.Dui.Impl.DataSourceMgr, Dndp.Service" />

	<component
         id="DataSourceUploadMgr.service"
         service="Dndp.Service.Dui.IDataSourceUploadMgr, Dndp.Service"
         type="Dndp.Service.Dui.Impl.DataSourceUploadMgr, Dndp.Service">
	</component>

	<component
        id="DWDataSourceMgr.service"
      service="Dndp.Service.Dui.IDWDataSourceMgr, Dndp.Service"
      type="Dndp.Service.Dui.Impl.DWDataSourceMgr, Dndp.Service"/>

	<component
		id="DWDataSourceParameterMgr.service"
	  service="Dndp.Service.Dui.IDWDataSourceParameterMgr, Dndp.Service"
	  type="Dndp.Service.Dui.Impl.DWDataSourceParameterMgr, Dndp.Service"/>

	<component
        id="ReportBatchMgr.service"
      service="Dndp.Service.OffLineReport.IReportBatchMgr, Dndp.Service"
      type="Dndp.Service.OffLineReport.Impl.ReportBatchMgr, Dndp.Service"/>

	<component
        id="ReportTemplateMgr.service"
      service="Dndp.Service.OffLineReport.IReportTemplateMgr, Dndp.Service"
      type="Dndp.Service.OffLineReport.Impl.ReportTemplateMgr, Dndp.Service"/>

	<component
        id="ReportUserMgr.service"
      service="Dndp.Service.OffLineReport.IReportUserMgr, Dndp.Service"
      type="Dndp.Service.OffLineReport.Impl.ReportUserMgr, Dndp.Service"/>

	<component
        id="ReportParameterMgr.service"
      service="Dndp.Service.OffLineReport.IReportParameterMgr, Dndp.Service"
      type="Dndp.Service.OffLineReport.Impl.ReportParameterMgr, Dndp.Service"/>

	<component
        id="ReportJobMgr.service"
      service="Dndp.Service.OffLineReport.IReportJobMgr, Dndp.Service"
      type="Dndp.Service.OffLineReport.Impl.ReportJobMgr, Dndp.Service"/>

	<!--Cube Related Setting-->
	<component
		id="CubeParameterMgr.service"
	  service="Dndp.Service.Cube.ICubeParameterMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeParameterMgr, Dndp.Service"/>

	<component
		id="CubeMgr.service"
	  service="Dndp.Service.Cube.ICubeMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeMgr, Dndp.Service"/>

	<component
		id="CubeValidationRuleMgr.service"
	  service="Dndp.Service.Cube.ICubeValidationRuleMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeValidationRuleMgr, Dndp.Service"/>

	<component
		id="CubeDefinedParameterMgr.service"
	  service="Dndp.Service.Cube.ICubeDefinedParameterMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeDefinedParameterMgr, Dndp.Service"/>

	<component
		id="CubeOperatorMgr.service"
	  service="Dndp.Service.Cube.ICubeOperatorMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeOperatorMgr, Dndp.Service"/>

	<component
		id="CubeDimensionMgr.service"
	  service="Dndp.Service.Cube.ICubeDimensionMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeDimensionMgr, Dndp.Service"/>

	<component
		id="CubeMeasureMgr.service"
	  service="Dndp.Service.Cube.ICubeMeasureMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeMeasureMgr, Dndp.Service"/>

	<component
		id="CubeWarmMDXMgr.service"
	  service="Dndp.Service.Cube.ICubeWarmMDXMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeWarmMDXMgr, Dndp.Service"/>

	<component
		id="CubeAuthorizationMgr.service"
	  service="Dndp.Service.Cube.ICubeAuthorizationMgr, Dndp.Service"
		  type="Dndp.Service.Cube.Impl.CubeAuthorizationMgr, Dndp.Service"/>

	<component
		id="CubeProcessMgr.service"
	  service="Dndp.Service.Cube.ICubeProcessMgr, Dndp.Service"
	  type="Dndp.Service.Cube.Impl.CubeProcessMgr, Dndp.Service"/>

	<component
		id="CubeReleaseMgr.service"
	  service="Dndp.Service.Cube.ICubeReleaseMgr, Dndp.Service"
		  type="Dndp.Service.Cube.Impl.CubeReleaseMgr, Dndp.Service"/>
		
	<component
		id="CubeDistributionJobMgr.service"
	  service="Dndp.Service.Cube.ICubeDistributionJobMgr, Dndp.Service"
		  type="Dndp.Service.Cube.Impl.CubeDistributionJobMgr, Dndp.Service"/>	
  </components>
</configuration>
