<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <components>
    <component
          id="sqlhelp.data.access"
          service="Dndp.Persistence.Dao.SqlHelperDao, Dndp.Persistence"
          type="Dndp.Persistence.Dao.SqlHelperDao, Dndp.Persistence" >
      <parameters>
        <ConnectionString>#{connectionString}</ConnectionString>
        <CommitRecordCount>#{commitRecordCount}</CommitRecordCount>
      </parameters>
    </component>
    
  </components>



</configuration>
