<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">
			<factory id="nhibernate.factory">
				<settings>
					<item key="hibernate.connection.provider">
						NHibernate.Connection.DriverConnectionProvider
					</item>
					<item key="hibernate.connection.driver_class">
						NHibernate.Driver.SqlClientDriver
					</item>
					<item key="hibernate.connection.connection_string">
						#{connectionString}
					</item>
					<item key="hibernate.dialect">
						NHibernate.Dialect.MsSql2000Dialect
					</item>
					<item key="hibernate.show_sql">
						true
					</item>
				</settings>
				<assemblies>
					<assembly>Dndp.Persistence</assembly>
				</assemblies>
			</factory>
		</facility>
	</facilities>
	<components>
		<component
			  id="user.data.access"
			  service="Dndp.Persistence.Dao.Security.IUserDao, Dndp.Persistence"
			  type="Dndp.Persistence.Dao.Security.NH.NHUserDao, Dndp.Persistence" />

		<component
			  id="role.data.access"
			  service="Dndp.Persistence.Dao.Security.IRoleDao, Dndp.Persistence"
			  type="Dndp.Persistence.Dao.Security.NH.NHRoleDao, Dndp.Persistence" />

		<component
			  id="menu.data.access"
			  service="Dndp.Persistence.Dao.Security.IMenuDao, Dndp.Persistence"
			  type="Dndp.Persistence.Dao.Security.NH.NHMenuDao, Dndp.Persistence" />

		<component
				id="criteria.data.access"
				service="Dndp.Persistence.Dao.Criteria.ICriteriaDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Criteria.CriteriaDao, Dndp.Persistence" />

		<component
				id="dataSourceCategory.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceCategoryDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceCategoryDao, Dndp.Persistence" />

		<component
				id="dataSourceWithDrawTable.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceWithDrawTableDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceWithDrawTableDao, Dndp.Persistence" />

		<component
				id="dataSource.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceDao, Dndp.Persistence" />

		<component
				id="dataSourceField.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceFieldDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceFieldDao, Dndp.Persistence" />

		<component
				id="dataSourceOperator.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceOperatorDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceOperatorDao, Dndp.Persistence" />

		<component
				id="dataSourceRule.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceRuleDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceRuleDao, Dndp.Persistence" />

		<component
				id="dataSourceUpload.data.access"
				service="Dndp.Persistence.Dao.Dui.IDataSourceUploadDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDataSourceUploadDao, Dndp.Persistence" />

		<component
				id="validationResult.data.access"
				service="Dndp.Persistence.Dao.Dui.IValidationResultDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHValidationResultDao, Dndp.Persistence" />

		<component
				id="dWDataSource.data.access"
				service="Dndp.Persistence.Dao.Dui.IDWDataSourceDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDWDataSourceDao, Dndp.Persistence" />

		<component
				  id="dWDataSourceParameter.data.access"
				  service="Dndp.Persistence.Dao.Dui.IDWDataSourceParameterDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Dui.NH.NHDWDataSourceParameterDao, Dndp.Persistence" />

		<component
				id="dWDataSourceOperator.data.access"
				service="Dndp.Persistence.Dao.Dui.IDWDataSourceOperatorDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.Dui.NH.NHDWDataSourceOperatorDao, Dndp.Persistence" />

		<component
				id="reportBatch.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportBatchDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportBatchDao, Dndp.Persistence" />

		<component
				id="reportBatchReports.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportBatchReportsDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportBatchReportsDao, Dndp.Persistence" />

		<component
				id="reportSheet.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportSheetDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportSheetDao, Dndp.Persistence" />

		<component
				id="reportTemplate.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportTemplateDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportTemplateDao, Dndp.Persistence" />

		<component
				id="reportUser.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportUserDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportUserDao, Dndp.Persistence" />

		<component
				id="reportUserSheet.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportUserSheetDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportUserSheetDao, Dndp.Persistence" />

		<component
				id="reportUserSheetParameter.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportUserSheetParameterDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportUserSheetParameterDao, Dndp.Persistence" />

		<component
				id="reportParameterDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportParameterDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportParameterDao, Dndp.Persistence" />

		<component
				id="reportJobDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportJobDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportJobDao, Dndp.Persistence" />

		<component
				id="reportJobReportDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportJobReportDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportJobReportDao, Dndp.Persistence" />

		<component
			   id="reportJobUserDao.data.access"
			   service="Dndp.Persistence.Dao.OffLineReport.IReportJobUserDao, Dndp.Persistence"
			   type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportJobUserDao, Dndp.Persistence" />

		<component
				id="reportValidationRuleDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportValidationRuleDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportValidationRuleDao, Dndp.Persistence" />

		<component
				id="reportJobValidationResultDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportJobValidationResultDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportJobValidationResultDao, Dndp.Persistence" />

		<component
				id="reportBatchUserDao.data.access"
				service="Dndp.Persistence.Dao.OffLineReport.IReportBatchUserDao, Dndp.Persistence"
				type="Dndp.Persistence.Dao.OffLineReport.NH.NHReportBatchUserDao, Dndp.Persistence" />

		<!--Cube Related Setting-->
		<component
				  id="cubeParameterDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeParameterDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeParameterDao, Dndp.Persistence" />

		<component
				  id="cubeDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeDao, Dndp.Persistence" />

		<component
				  id="cubeValidationRuleDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeValidationRuleDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeValidationRuleDao, Dndp.Persistence" />

		<component
				  id="cubeDefinedParameterDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeDefinedParameterDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeDefinedParameterDao, Dndp.Persistence" />

		<component
				  id="cubeOperatorDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeOperatorDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeOperatorDao, Dndp.Persistence" />

		<component
				  id="cubeDimensionDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeDimensionDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeDimensionDao, Dndp.Persistence" />

		<component
				  id="cubeMeasureDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeMeasureDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeMeasureDao, Dndp.Persistence" />

		<component
				  id="cubeWarmMDXDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeWarmMDXDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeWarmMDXDao, Dndp.Persistence" />

		<component
				  id="cubeUserDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeUserDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeUserDao, Dndp.Persistence" />

		<component
				  id="cubeRoleDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeRoleDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeRoleDao, Dndp.Persistence" />

		<component
				  id="cubeUserRoleDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeUserRoleDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeUserRoleDao, Dndp.Persistence" />

		<component
				  id="cubeRoleDimensionMemberDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeRoleDimensionMemberDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeRoleDimensionMemberDao, Dndp.Persistence" />

		<component
				  id="cubeProcessDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeProcessDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeProcessDao, Dndp.Persistence" />

		<component
				  id="cubeProcessParameterDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeProcessParameterDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeProcessParameterDao, Dndp.Persistence" />

		<component
				  id="cubeProcessValidationResultDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeProcessValidationResultDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeProcessValidationResultDao, Dndp.Persistence" />

		<component
				 id="cubeReleaseDao.data.access"
				 service="Dndp.Persistence.Dao.Cube.ICubeReleaseDao, Dndp.Persistence"
				 type="Dndp.Persistence.Dao.Cube.NH.NHCubeReleaseDao, Dndp.Persistence" />

		<component
				  id="cubeDistributionJobDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeDistributionJobDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeDistributionJobDao, Dndp.Persistence" />

		<component
				  id="cubeDistributionJobItemDao.data.access"
				  service="Dndp.Persistence.Dao.Cube.ICubeDistributionJobItemDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Cube.NH.NHCubeDistributionJobItemDao, Dndp.Persistence" />

		<component
				  id="distributionUserDao.data.access"
				  service="Dndp.Persistence.Dao.Distribution.IDistributionUserDao, Dndp.Persistence"
				  type="Dndp.Persistence.Dao.Distribution.NH.NHDistributionUserDao, Dndp.Persistence" />


	</components>



</configuration>
