<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<properties>
		<connectionString>
			Data Source=shadev01;Initial Catalog=SPStaging;Persist Security Info=True;User ID=spetl;Password=sa;
		</connectionString>
		<commitRecordCount>20</commitRecordCount>
		<csvEncoding>GB2312</csvEncoding>
		<DWDBString>SPDW.dbo.</DWDBString>
		<csvRecordPerParse>20</csvRecordPerParse>
		<processCubeBackupFolder>D:\</processCubeBackupFolder>
		<productCubeUserName>Pn9okH4kgp5ObVDIUz7+bQ==</productCubeUserName>
		<encryptProductCubeUserName>True</encryptProductCubeUserName>
		<productCubePassword>cOCAumg9QWc5rCkkT11E9A==</productCubePassword>
		<encryptProductCubePassword>True</encryptProductCubePassword>	
</properties>

	<components>
		<component
		id="PropertyMgr.service"
	  service="Dndp.Service.Property.IPropertyMgr, Dndp.Service"
		type="Dndp.Service.Property.Impl.PropertyMgr, Dndp.Service"
		  lifestyle="pooled"
		  initialPoolSize="1"
			maxPoolSize="1">
			<parameters>
				<csvEncoding>
					#{csvEncoding}
				</csvEncoding>
				<DWDBString>
					#{DWDBString}
				</DWDBString>
				<csvRecordPerParse>
					#{csvRecordPerParse}
				</csvRecordPerParse>
				<commitRecordCount>
					#{commitRecordCount}
				</commitRecordCount>
				<processCubeBackupFolder>
					#{processCubeBackupFolder}
				</processCubeBackupFolder>
				<productCubeUserName>
					#{productCubeUserName}
				</productCubeUserName>
				<encryptProductCubeUserName>
					#{encryptProductCubeUserName}
				</encryptProductCubeUserName>
				<productCubePassword>
					#{productCubePassword}
				</productCubePassword>
				<encryptProductCubePassword>
					#{encryptProductCubePassword}
				</encryptProductCubePassword>
			</parameters>
		</component>
	</components>
</configuration>
