.{
    font-family:tahoma;
    font-size:11px;}
BODY {
	font-family: Arial,tahoma,sans-serif;
	SCROLLBAR-FACE-COLOR: #e2e7ed;
	SCROLLBAR-HIGHLIGHT-COLOR: #eaeef3;
	SCROLLBAR-SHADOW-COLOR: #c1cad7;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #83a0c1;
	SCROLLBAR-TRACK-COLOR: #f1f1f6;
	SCROLLBAR-DARKSHADOW-COLOR: #bbbdcb;
	FONT-SIZE: 11px;
	background-color: #FFFFFF;
	margin-top:5px;
}
      .body1 {
	scrollbar-face-color: ##DCDAE8;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #E6EBF0;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #83A0C1;


}
TD {
	font-family: tahoma,Arial,sans-serif;FONT-SIZE: 11px; 	COLOR: #343232;LINE-HEIGHT: 150%; TEXT-DECORATION: none; align: middle; valign: top
}


FONT {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; TEXT-DECORATION: none; align: middle; valign: top
}
a{
	font-family: "tahoma", "Arial", "Helvetica", "sans-serif";
	color: #0033ff;
	 TEXT-DECORATION: none;
	}

a:hover{
	font-family: "tahoma", "Arial", "Helvetica", "sans-serif";
color: #FF6600;
TEXT-DECORATION: none;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
 font-family: tahoma,Arial,sans-serif;
 font-size: 200%;
 color: #FF6600;
 text-align:center;
 padding:8px 0px 8px 0px;
}

h2{
 font-size: 20px;
 margin-bottom:10px;
 margin-top:10px;
 color: #7b9ebd;
 
}
h3{
 font-size: 16px;
 margin-bottom:5px;
 margin-top:6px;
 color: #7b9ebd;
}
h4{
 font-size: 105%;padding: 0px 0px 0px 6px;
 color: #2F55C9;filter: DropShadow(Color=#FFFFFF,OffX=1, OffY=1);
}
h5{
 font-size: 16px;padding: 0px 0px 0px 6px;
 color: #2F55C9;filter: DropShadow(Color=#FFFFFF,OffX=1, OffY=1);
}
SELECT {FONT-SIZE: 11px; border: 1px double #DCDAE8;background-color: #FFFFFF; COLOR: #577ea4;
	scrollbar-face-color: #E2E7ED;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #E6EBF0;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #83A0C1;

	}
INPUT {
	FONT-SIZE: 12px;  COLOR: #577ea4;
	border: 0 ;
	background-color:eeeeee;
	border-bottom-width:1;
	border-bottom-style:dotted;
	border-bottom-color:aaaaaa;
}


.undertxt1{FONT-SIZE: 11px;
 
 TEXT-DECORATION: underline;
 
} 

.orangetxt1{
 font-size: 95%;padding: 4px 0px 0px 6px;
 color: #ff6600;filter: DropShadow(Color=#FFFFFF,OffX=1, OffY=1);
} 
.orangetxt2{
 font-size: 11px;padding: 4px 0px 0px 6px;
 color: #ff6600;filter: DropShadow(Color=#FFFFFF,OffX=1, OffY=1);
} 
.bluetxt1{
 font-size: 105%;
 color: #002B68;
} 
.bluetxt2{
COLOR: #343232;
} 
.bluetxt3{font-size: 10px;
 color: #002B68;
 text-align:left;
 margin:2px;
} 
.bgorange1{
COLOR: #ff6600;font-size: 9px;
background-color: #FCF3DB;
}
 .bgblue1{
COLOR: #ffffff;font-size: 11px;
background-color: #2F55C9;;
}
.whitetxt1{ 
COLOR: #fff;
} 
.smalltxt1{
 font-size: 85%;color: #607797;
}  
.smalltxt2{
 font-size: 10px;
} 
.input1{
	font-family: tahoma,Arial,sans-serif;FONT-SIZE: 11px; border: 1px solid #A9A9A9;background-color: #FFFFFF; COLOR: #577ea4;width:120px;
}
.input2{
	font-family: tahoma,Arial,sans-serif;FONT-SIZE: 11px; border: 1px solid #E6E5E5;background-color: #FFFFFF; COLOR: #a9a9a9;
}
.select1{
	font-family: tahoma,Arial,sans-serif;FONT-SIZE: 11px; border: 1px solid #A9A9A9;background-color: #FFFFFF; COLOR: #577ea4;width:120px;
	scrollbar-face-color: #DCDAE8;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #E6EBF0;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #83A0C1;
		margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px
}
.tablepad1{
padding: 0px 0px 0px 20px; 
	color:#000;
	font-weight:bolder;
}

.tablepad2{
padding: 0px 0px 0px 20px; 

}
/************* breadCrumb styles **************/
#breadCrumb{
	float:left;
	line-height: 150%;
	padding: 5px 0px 3px 10px; white-space:nowrap;
}
#breadCrumb A {font-family: tahoma,Arial,sans-serif;COLOR: #7C76A1; MARGIN: 0px; TEXT-DECORATION: none;padding: 5px 2px 3px 3px;width:80px;
	
}
#breadCrumb A:hover {COLOR: #31357F;TEXT-DECORATION: underline;
	
}
#indexcontent{
width:100%;
}
#content{
width:778px;
float:left;
}
#indexbottom{
	
	width:100%
}

/**************
#indexbottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width:100%
}*****************/
#contentright{
width:160px;
}
#pageright{
width:160px;
float:left;
padding: 4px 0px 2px 0px;
}
#pagebody{
	float: left;
	width:778px;
	padding: 0px;
	border-right: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	font: small tahoma,sans-serif;
	
}
#pageNavhome{
	float: left;
	width:205px;
	padding: 4px 0px 2px 0px;
	border-right: 1px solid #FA7F06;
	border-bottom: 1px solid #cccccc;
	font: small tahoma,sans-serif;
	background-image: url(../images/leftmenu_bg.jpg);
}
#pageNavhome #td1{
	padding: 0px 6px 4px 8px;
	color: #ffffff;
}
#pageNavhome li{
float: left;
width:180px;
	padding: 0px 4px 4px 8px;
	color: #ffffff;
}


#pageNav{
	float: left;
	width:205px;
	padding: 0px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font: small tahoma,sans-serif;
}

#sectionLinks{width:204px;
height:29px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/leftmenu_bg.jpg);
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}


#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	font-size:85%;
	color: #FFFFFF;
	font-weight: bold;
	height:20px;
	padding: 8px 0px 2px 4px;
	text-align:left;
	background-image:  url(../images/section_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
}

#sectionLinks a:hover{
color: #FFF1CD;
	background-image: url(../images/section_bghover.jpg);
	font-weight: bold;
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
/***************ks styles *****************/
#pageNav_ks{
	float: left;
	width:205px;
	padding: 0px;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #cccccc;
	font: small tahoma,sans-serif;
	
}
#sectionLinktitle1{font_size:105%;
	filter: DropShadow(Color=#ffffff,OffX=1, OffY=1);
	background-image: url(../images/left_titlebg1.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-weight: bolder;
	color: #000000;
	height:25px;
	 padding: 0px 0px 0px 4px;
}
#sectionLinktitle{
	background-image: url(../images/left_titlebg2.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-weight: bolder;
	color: #000000;
	height:25px;
	 padding: 0px 0px 0px 4px;
}
#sectionLink_ks{width:204px;
margin: 0px;
	padding: 0px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #F6F9FC;
}

#sectionLink_ks h3{
color:#fff;
 font-size: 110%;
 padding: 8px 0px 2px 4px;
z-index: 204;
background-color:99ADBF;
}
#sectionLink_ks a:link, #sectionLink_ks a:visited {
	display: block;
	font-weight: bold;
	font-size: 90%;
	color:#323D47;
	height:16px;
	padding: 8px 0px 2px 4px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	background-image: url(../images/section_bg2.gif);
}

#sectionLink_ks a:hover{
	background-color:CED3D9;
	font-weight: bold;
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/section_bg2hover.jpg);
}
/***************blue styles *****************/
#sectionLinktitleblue{
font-family: Arial,tahoma,sans-serif;
	background-image: url(../images/left_titlebg2.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-size: 12px;
	color: #4A5F81;
	height:25px;
	 padding: 0px 0px 0px 10px;
}
#sectionLink_blue{width:204px;
margin: 0px;
	padding: 0px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #F6F9FC;
}
#sectionLink_blue h3{
color:#fff;font-weight: bolder;
 font-size: 13px;
 padding: 8px 0px 2px 4px;
z-index: 204;
background-color:99ADBF;
}

#sectionLink_blue a:link, #sectionLink_blue a:visited {
	display: block;
	font-size: 90%;
	color:#797878;
	height:16px;
	padding: 6px 0px 4px 20px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	background-image: url(../images/section_bg2.jpg);
}

#sectionLink_blue a:hover{color:#57729C;
	
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: left bottom;
	background-image: url(../images/section_bg2hover.jpg);
}

#sectionLink_blue1{width:204px;
margin: 0px;
	padding: 0px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #F6F9FC;
}
#sectionLink_blue1 h3{
color:#fff;font-weight: bolder;
 font-size: 13px;
 padding: 8px 0px 2px 4px;
z-index: 204;
background-color:99ADBF;
}

#sectionLink_blue1 a:link, #sectionLink_blue a:visited {
	display: block;
	font-size: 90%;
	color:#797878;
	height:16px;
	padding: 6px 0px 4px 8px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	background-image: url(../images/section_bg2.jpg);
}

#sectionLink_blue1 a:hover{color:#57729C;
	
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: left bottom;
	background-image: url(../images/section_bg2hover.jpg);
}


/***************gray styles *****************/
#sectionLinktitlegray{
	background-image: url(../images/left_titlebg4.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-weight: bolder;
	color: #000000;
	height:25px;
	 padding: 0px 0px 0px 4px;
}
#sectionLink_gray{width:204px;
margin: 0px;
	padding: 0px;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #F6F9FC;
}
#sectionLink_gray h3{
color:#fff;
 font-size: 110%;
 padding: 8px 0px 2px 4px;
z-index: 204;
background-color:99ADBF;
}

#sectionLink_gray a:link, #sectionLink_gray a:visited {
	display: block;
	font-weight: bold;
	font-size: 90%;
	color:#797878;
	height:16px;
	padding: 6px 0px 4px 20px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	background-image: url(../images/section_bg4.jpg);
}

#sectionLink_gray a:hover{
	background-color:CED3D9;
	font-weight: bold;
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-image: url(../images/section_bg4hover.jpg);
}
#sectionLink_gray2  a:link, #sectionLink_gray2  a:visited {
	display: block;
	font-weight: bold;
	font-size: 90%;
	color:#797878;
	height:16px;
	padding: 6px 0px 4px 20px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	background-image: url(../images/section_bg4hover1.jpg);
}

#sectionLink_gray1 a:link, #sectionLink_gray1 a:visited {
	display: block;
	font-size: 11px;
	color:#797878;
	height:16px;
	padding: 6px 0px 4px 10px;
	text-align:left;
	background-repeat: no-repeat;
	background-position: left bottom;
	z-index: 204;
	border-bottom:1px solid #eeeeee;
}

#sectionLink_gray1 a:hover{
	background-color:CED3D9;
	
	text-decoration: none;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	background-image: url(../images/section_bg4hover2.jpg);
}
/***************menu styles *****************/
#menuLinks{
padding: 0px;
	margin: 0px;
	white-space:nowrap;
}
#menuLinks LI{
float:left;width:85px;
	margin: 0px;	
	white-space:nowrap;white-space:nowrap;
}
#menuLinks LI a:link, #menuLinks a:visited {
	display: block;	
	padding: 0px;
   width:69px;
	height:27px;
	font-weight: bold;	
	text-align:center;
	background-image:  url(../images/menu_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#menuLinks LI a:hover{background-image:  url(../images/menu_bghover.jpg);

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;		
	font-weight: bold;color: #FFFFFF;
	text-decoration: none;
}
/***************person styles *****************/

#person{
	float: left;
	width:202px;
	padding: 0px;
	background-repeat: no-repeat;	
	background-image: url(../images/left_bg1.jpg);
	background-position: left bottom;
}
#person td{
	font-size: 80%;color: #FFF7E7;
	padding: 0px  0px 6px 2px;
}
/***************login styles *****************/

#login{
	float: left;
	width:202px;
	height:88px;
	padding: 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 70%;color: #666666;
}
#login td{font-weight:bolder;
	font-size: 100%;color: #666666;
}
#login input{
  font-size: 98%;
  margin: 0px  0px 0px 10px;
 }
 
#login a:link, #login a:visited {
	font-size: 95%;
	font-weight: bold;
	
}

#login a:hover{
	margin: 0px;
}
/*************** search styles *****************/

#search{
float:left;
}

#search input{
  font-size: 70%;
  margin: 0px  0px 0px 10px;
 }
 
#search a:link, #search a:visited {
	font-size: 80%;
	font-weight: bold;
	
}

#search a:hover{
	margin: 0px;
}

.subglobalNav{
	position: relative;
	left: 204px;
	min-width: 260px;
	padding: 0px 0px 0px 10px;
	visibility: hidden;
	color: #ffffff;
	width: 160px;
}

.subglobalNav a:link, .subglobalNav a:visited {
	font-size: 80%;
	color: #000;
}

.subglobalNav a:hover{
	color: #cccccc;
}


#headlines{
	
	width: 184px;
	background-image:  url(../images/right_bg.jpg);
	background-repeat: repeat-y;
}
/************* relatedLinks styles **************/
.relatedLinks{
	margin: 0px;
	padding: 0px 2px 4px 8px;
	
}

.relatedLinks h3{
COLOR: #343232;margin: 0px;
	padding: 4px 0px 2px 0px;
}
.img1{

	padding: 1px 4px 1px 1px;
}

.img2{
border: 1px solid #a9a9a9; 
	padding: 2px;
}
.relatedLinks  p{margin: 0px;
	display: block; padding: 0px 2px 4px 0px;
}
.relatedLinks  A,.relatedLinks a:visited {font-size: 95%;
	display: block;
}
.relatedLinks  A:hover{	
	 color: #2F55C9;
}

.Linkmore1  A{
	display: block;
	
}
#relatedmore  {
float:right;
	display: block; padding: 0px 10px 0px 0px;
}
#relatedmore  A{COLOR: #FF8B00;TEXT-DECORATION: underline;
	display: block; padding: 0px 0px 2px 0px;
}
#relatedmore  A:hover{COLOR: #ffcc00;TEXT-DECORATION: underline;
	display: block; 
}

#linkmore  {
float:right;
	display: block; padding: 0px 4px 0px 0px;
}
#linkmore  A{COLOR: #4D525B;TEXT-DECORATION: underline;
	display: block; padding: 0px 0px 2px 0px;
}
#linkmore  A:hover{COLOR: #ffcc00;TEXT-DECORATION: underline;
	display: block; 
}
#moduleright{
width:160px;
}
.formmodulet1
{
	width:900px;
	float:left;
	border-right: 1px solid #EFF0F4; 
	border-left: 1px solid #EFF0F4; 
	border-top: 1px solid #EFF0F4; 
	pading:0 0 0 8px;
}


.modulet1
{
	width:780px;border-bottom: 1px solid #EFF0F4;pading:0 0 0 8px;
}
.modulet2
{
	width:100%;border-bottom: 1px solid #EFF0F4;border-left: 1px solid #EFF0F4;border-right: 1px solid #EFF0F4;pading:2px 2px 2px 8px;
}
#button_01 {FLOAT: left; 
	height: 25px;
}
#button_01 LI {FLOAT: left; padding: 2px 0px 3px 0px;

}
#button_01 LI A {font-family: tahoma,Arial,sans-serif;
	COLOR: #FFFFFF;
	FONT-SIZE: 10px;
	border-top: 1px solid #FFFFFF;
	border-BOTTOM: 1px solid  #000000;
	border-LEFT: 1px solid #FFFFFF;
	border-RIGHT: 1px solid #000000;
	background-color: #999999; 
	padding: 2px 15px 3px 15px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
	white-space: nowrap;
}
#button_01 LI A:hover {
COLOR: #FFFFFF;
	FONT-SIZE: 10px;
background-color: #FF8B00; 
	border-top: 1px solid #FFFFFF;
	border-BOTTOM: 1px solid #FE0000;
	border-LEFT: 1px solid #FFFFFF;
	border-RIGHT: 1px solid #FE0000;
}


#button_02 {FLOAT: right; border-BOTTOM: 1px  solid  #F4F6FD;padding: 20px 0px 0px 0px;
}
#button_02 LI {FLOAT: left; 
	height: 18px;	background-image: url(../images/button_02bg.gif);
	background-repeat: repeat-x;white-space: nowrap;
}
#button_02 LI A {FLOAT: left; 
	font-family: tahoma,Arial,sans-serif;
	COLOR: #FFFFFF;
	FONT-SIZE: 10px;
	font-weight:bolder;
	MARGIN: 0px;
	TEXT-DECORATION: none;
	background-position: left bottom;
	padding: 1px 23px 0px 23px;
	text-align:center;
}
#button_02 LI A:hover {
COLOR: #FFFFFF;
	FONT-SIZE: 10px;TEXT-DECORATION: underline;
}

#button2 {
	
}
#button2 LI {
	font-family: tahoma,Arial,sans-serif;FONT-SIZE: 11px;FLOAT: left; MARGIN: 0px;  HEIGHT: 20px; TEXT-ALIGN: center;
}
#button2 LI A {white-space: nowrap;
		DISPLAY: block; PADDING-LEFT: 0px;  
	PADDING-BOTTOM: 0px;  COLOR: #ffffff; 
	TEXT-DECORATION: none;
		border-top: 1px solid #FFFFFF;
	border-BOTTOM: 1px solid  #000000;
	border-LEFT: 1px solid #FFFFFF;
	border-RIGHT: 1px solid #000000;
	background-color: #999999; 
	filter: DropShadow(Color=#FFFFFF,OffX=1, OffY=1);
	padding: 2px 8px 2px 8px;
}
#button2 LI A:hover {
	background-color: #FF8B00; 
	COLOR: #ffffff; TEXT-DECORATION: none;
	border-top: 1px solid #FFFFFF;
	border-BOTTOM: 1px solid #FE0000;
	border-LEFT: 1px solid #FFFFFF;
	border-RIGHT: 1px solid #FE0000;
	filter: DropShadow(Color=#D6D4E9,OffX=1, OffY=1);
}

/************** feature styles *****************/

.feature{
	padding: 0px 2px 2px 2px;
	font-size: 80%;
}
html>body .feature {height: auto;}



.feature #img1{
	margin:0;
	padding: 0px 12px 0px 0px;
	float: left;
}

.feature #img2{
	margin:0;
	padding: 0px 0px 0px 0px;
}
#listfeature img{
	float: left;padding: 0px 0px 0px 0px;
	
}

#listfeature h4{
	font: bold 105% Arial,sans-serif;
	color: #000000;
	padding: 30px 0px 5px 0px;
}

#list  A {font-family: tahoma,Arial,sans-serif;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	COLOR: #666666;
	TEXT-DECORATION: none;
}
#listA:link{
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
#listA:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
#list  A:visited{
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
#list  A:active{COLOR: #FF6600;
	FONT-SIZE: 11px;
}

#list_01 {FLOAT: left; padding: 4px 2px 2px 4px;
}
#list_01 P {FLOAT: left; 
	height: 20px;margin:0;
}
#list_01 LI {FLOAT: left; WIDTH:267PX;
	height: 20px;margin:0;
}
#list_01 LI A {font-family: tahoma,Arial,sans-serif;

	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_01 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}

#list_07 {FLOAT: left; padding: 4px 2px 2px 4px;
}
#list_07 P {FLOAT: left; 
	height: 20px;margin:0;
}
#list_07 LI {FLOAT: left; WIDTH:157PX;
	height: 20px;margin:0;
}
#list_07 LI A {font-family: tahoma,Arial,sans-serif;

	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_07 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}
/**************  *****************/
#Title_red {
	FLOAT: left;
	height:29px;
	background-image: url(../images/title_bgorange.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#Title_orange{
	FLOAT: left;
	height:22px;
	color:#FF8B00;
}
#Title_blue {
	FLOAT: left;
	height:29px;
	background-image: url(../images/title_bgblue.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

/**************  *****************/
#list_02 {FLOAT: left; 
width:33%;padding: 4px 2px 2px 6px;
}
#list_02 P {FLOAT: left; 
	height: 20px;
}
#list_02 LI {FLOAT: left; 
	height: 20px;WIDTH:350PX;
}
#list_02 LI A {font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_02 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
/**************  *****************/
#list_04 {FLOAT: left; 
width:33%;padding: 4px 2px 2px 6px;
}
#list_04 P {FLOAT: left; 
	height: 20px;
}
#list_04 LI {FLOAT: left; 
	height: 20px;WIDTH:133PX;
}
#list_04 LI A {font-family: tahoma,Arial,sans-serif;
	COLOR: #666666;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_04 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;TEXT-DECORATION: none;
}
.list_041  {
	TEXT-DECORATION: unerline;
}

/**************  *****************/
#list_03 {FLOAT: left; padding: 4px 2px 2px 4px;
}
#list_03 P {FLOAT: left; 
	height: 20px;margin:0;
}
#list_03 LI {FLOAT: left; WIDTH:500PX;
	height: 20px;margin:0;
}
#list_03 LI A {
font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_03 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}
/**************  *****************/
#list_05 {FLOAT: left; padding: 4px 2px 2px 4px;
}
#list_05 P {FLOAT: left; 
	height: 20px;margin:0;
}
#list_05 LI {FLOAT: left; 
WIDTH:700PX;
	height: 20px;margin:0;
	text-align:left;
}
#list_05 LI A {
font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 2px;
	TEXT-DECORATION: none; padding: 0px 0px 6px 0px;
}
#list_05 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}
/**************  *****************/
#list_06 {FLOAT: left; padding: 4px 2px 2px 4px;
}
#list_06 P {FLOAT: left; 
	height: 20px;margin:0;
}
#list_06 LI {FLOAT: left; 
WIDTH:770PX;
	height: 20px;margin:0;
	text-align:left;
}
#list_06 LI A {
font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#list_06 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}
#divbox1{
	width: 194px;
	height: 145px;
 COLOR: #577ea4;
background-image: url(../images/images/left_bg2.jpg);
background-position: left bottom;
	overflow: scroll;
	background-attachment: scroll;
	overflow: scroll;
	position: relative;
	visibility: visible;
	z-index: auto;
		scrollbar-face-color: #FDCE36;
	scrollbar-shadow-color: #FDCE36;
	scrollbar-highlight-color: #FDCE36;
	scrollbar-3dlight-color: #FDCE36;
	scrollbar-darkshadow-color: #FDB515;
	scrollbar-track-color: #FDCE36;
	scrollbar-arrow-color: #FA8E0D;
}

#divbox1backup{
	width: 194px;
	height: 145px;
 COLOR: #577ea4;
background-image: url(../images/images/left_bg2.jpg);
background-position: left bottom;
	overflow: scroll;
	background-attachment: scroll;
	overflow: scroll;
	position: relative;
	visibility: visible;
	z-index: auto;
		scrollbar-face-color: #FDB515;
	scrollbar-shadow-color: #FDCE36;
	scrollbar-highlight-color: #FDCE36;
	scrollbar-3dlight-color: #FDB515;
	scrollbar-darkshadow-color: #FDCE36;
	scrollbar-track-color: #FDCE36;
	scrollbar-arrow-color: #FDEA15;
}


#quicklink {FLOAT: left; padding: 0 0 0 6px;
}
#quicklink P {FLOAT: left; 
	height: 20px;
}
#quicklink h3 {COLOR: #FFFFFF;
	FONT-SIZE: 12px;font-weight:bolder;
}
#quicklink LI {FLOAT: left; 
	height: 20px;WIDTH:180PX;	background-image: url(../images/line_dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#quicklink A {
	font-family: tahoma,Arial,sans-serif;
	COLOR: #FCEDC5;
	FONT-SIZE: 10px;
	font-weight:bolder;
	MARGIN: 0px;
	TEXT-DECORATION: none;

}
#quicklink LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
#line_bgup {
	FLOAT: left;
	width:4px;
	background-image: url(../images/line_bgup.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
/**************  *****************/
#quicklinks {FLOAT: left; padding: 0 0 0 6px;COLOR: #FCEDC5;
}
#quicklinks P {FLOAT: left; 
	height: 20px;
}
#quicklinks h3 {COLOR: #FCEDC5;
	FONT-SIZE: 12px;font-weight:bolder;
}
#quicklinks LI {FLOAT: left; COLOR: #FCEDC5;
	height: 20px;WIDTH:180PX;	background-image: url(../images/line_dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#quicklinks A {
	font-family: tahoma,Arial,sans-serif;
	COLOR: #FCEDC5;
	FONT-SIZE: 11px;
	font-weight:bolder;
	MARGIN: 0px;
	TEXT-DECORATION: none;

}
#quicklinks  A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
/************** RIGHT MENU *****************/
#rightlinks {FLOAT: left; padding: 0 0 0 6px;
}
#rightlinks P {FLOAT: left; 
	height: 20px;
}
#rightks h3 {COLOR: #FFFFFF;
	FONT-SIZE: 12px;font-weight:bolder;
}
#rightks  LI {FLOAT: left; 
	height: 20px;	background-image: url(../images/line_dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#rightks  li A {WIDTH:180PX;
	font-family: tahoma,Arial,sans-serif;
	COLOR: #FCEDC5;
	FONT-SIZE: 11px;
	font-weight:bolder;
	MARGIN: 0px;
	TEXT-DECORATION: none;

}
#rightks  LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;
}
/**************  *****************/
#drollmenu {FLOAT: left; 

border: 1px solid #999999;
}
#drollmenu_01 {FLOAT: left; 
border-top: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
border-right: 1px solid #ffffff;
border-left: 1px solid #F2F2F2;
background-image: url(../images/drollbg3.jpg);
background-repeat: repeat-y;
FILTER: Alpha(Opacity=92, Style=0); 
}
#drollmenu_01 P {
	FLOAT: left;
	height: 20px;
	margin:0;
}
#drollmenu_01 LI {FLOAT: left; 
  width:183px;
	margin:0;
	white-space:nowrap;
	background-image: url(../images/line_bg2.gif);FILTER: Alpha(Opacity=92, Style=0); 
	background-position: left bottom;margin:0;
	
}
#drollmenu_01 LI A {FLOAT: left; 
	font-family: tahoma,Arial,sans-serif;
	COLOR: #5F5F5F;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
	text-align:left;margin:0;
	height: 25px;
	
}
#drollmenu_01 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;background-image: url(../images/drollbghover.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;margin:0;
	 width:183px;
}
/************** submenu *****************/
#drollsubmenu_01 {
	FLOAT: left;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #F2F2F2;
	background-image: url(../images/drollbg3.jpg);
	background-repeat: repeat-y;
	FILTER: Alpha(Opacity=92, Style=0);
	position: relative;
	visibility: inherit;
	z-index: auto;
	width: 183px;
	left: 183px;
	top: 2px;
}
/************** k_space *****************/
#drollmenuks {FLOAT: left; 

border: 1px solid #91A6B8;
}
#drollmenu_ks {FLOAT: left; 

border-top: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
border-left: 1px solid #F2F2F2;
}
#drollmenu_ks P {
	FLOAT: left;
	height: 20px;
	margin:0;
}
#drollmenu_ks LI {FLOAT: left; 

	height: 20px;margin:0;
}
#drollmenu_ks LI A {FLOAT: left; 
	font-family: tahoma,Arial,sans-serif;
	COLOR: #5F5F5F;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
	text-align:left;
	background-image: url(../images/drollbg2.jpg);
	filter: Alpha(Opacity=100, Style=0); 
	background-repeat: repeat-x;
	background-position: left top;margin:0;
	width:190px;
	height:25px;
}
#drollmenu_ks LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;background-image: url(../images/drollbg2hover.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;margin:0;

}

#drollmenu_ks LI #longA {FLOAT: left; 
	font-family: tahoma,Arial,sans-serif;
	COLOR: #5F5F5F;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
	text-align:left;
	background-image: url(../images/drollbg_long.jpg);FILTER: Alpha(Opacity=92, Style=0); 
	background-repeat: repeat-x;
	background-position: left bottom;margin:0;
	width:200px;
	height:25px;
}
#drollmenu_ks LI #longA:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;background-image: url(../images/drollbg_longhover.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;margin:0;

}
/**************  *****************/
#propertylist1 {
padding: 2px;border: 1px solid #f2f2f2;
}
#propertylist1 H4 {
	COLOR: #343232;
	FONT-SIZE: 103%;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#propertylist1  LI {FLOAT: left; 
	height: 20px;margin:0;
}
#propertylist1 LI A {font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#propertylist1  LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}

/**************  *****************/
#Abstract1 {padding: 2px 2px 2px 2px;
COLOR: #666;

}
#Abstract1 H4 {
	COLOR: #666;
	font-weight:bolder;
	FONT-SIZE: 103%;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#Abstract1  LI {FLOAT: left; 
	height: 20px;margin:0;
}
#Abstract1 LI A {font-family: tahoma,Arial,sans-serif;
	COLOR: #343232;
	FONT-SIZE: 11px;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}
#Abstract1 LI A:hover {
COLOR: #FF6600;
	FONT-SIZE: 11px;

}

.error{
 font-family: tahoma,Arial,sans-serif;
 font-size: 10px;
 color: red;
 width:100%;
 text-align:right;
}

a.TxtTop
{
    font-weight:bold;
    color:#003366;}

    
div.BGform
{
    border:solid 5px #cccccc;
    background-color:  #eeeeee ;
    padding:10;
    margin-top:0px;
    margin-bottom:10px;
    }  

.TXTform
{
    text-align:right;
    font-weight:bold;
}

INPUT.btn {
	FONT-SIZE: 11px;  COLOR: #577ea4;
	border: 0 ;
	background-color:cccccc;
	border-left-width:1;
	border-left-style:solid;
	border-left-color:aaaaaa;
		border-top-width:1;
	border-top-style:solid;
	border-top-color:aaaaaa;
		border-right-width:1;
	border-right-style:solid;
	border-right-color:aaaaaa;
	height:20;
	margin-bottom:-2;
	padding-left:0px;
	padding-right:0px;
	font-weight:bold;
}
INPUT.btn1 {
	FONT-SIZE: 11px;  COLOR: #577ea4;
	border: 0 ;
	background-color:cccccc;
	border-top-width:1;
	border-top-style:solid;
	border-top-color:aaaaaa;
	border-left-width:1;
	border-left-style:solid;
	border-left-color:aaaaaa;
		border-bottom-width:1;
	border-bottom-style:solid;
	border-bottom-color:aaaaaa;
		border-right-width:1;
	border-right-style:solid;
	border-right-color:aaaaaa;
	height:18;
	margin-top:0;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
}
INPUT.btn2 {
	FONT-SIZE: 11px;  COLOR: #577ea4;
	border: 0 ;
	background-color:cccccc;
	border-left-width:1;
	border-left-style:solid;
	border-left-color:aaaaaa;
		border-bottom-width:1;
	border-bottom-style:solid;
	border-bottom-color:aaaaaa;
		border-right-width:1;
	border-right-style:solid;
	border-right-color:aaaaaa;
	height:20;
	margin-top:-2;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
}
span.radio input, ,table.radio input,.radio
{
    background-color:Transparent;
    border:0;}
    
.formBtnBoard
{
    text-align:right;
    margin:0;
    margin-right:2;}
.formBtnBoard1
{
    text-align:left;
    margin:0;
    margin-left:2;
    margin-bottom:0}
.list
{
    border:solid 5px cccccc;
    background-color:ffffff;
    width:100%;}
.listHead
{
    text-align:left;
    padding:3;
    height:25px;
    background-color:7b9ebd; 
    border-bottom:solid 1px #003366;
    color:ffffff;
    font-size:10px;
    white-space:nowrap;
    }
.listheader
{
    text-align:left;
    padding:3;
    height:25;
    background-color:7b9ebd;
    border-bottom:solid 1px #003366;
    color:ffffff;
    font-size:10px;
    white-space:nowrap;
}
.listHead a,.listHead td
{
    color:ffffff;
    text-decoration:underline;
    white-space:nowrap;
    }
.listheader a,.listHeader td
{
    color:ffffff;
    text-decoration:underline;
    white-space:nowrap;
}

.listA
{
    background-color:f0f0f0;
    }
.listS
{
    background-color:d6eff7;
    }
select,option,textarea
{
margin:-2;
}
.menubar1_ctlsolpartmenu_spmitm,.menubar1_ctlsolpartmenu_spmitmsel
{
    font-weight:bold;
    padding-right:10;
    padding-left:10;
    }
.menubar1_ctlsolpartmenu_spmbar
{
    text-align:center;
    }
/************** END *****************/

