<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

    <bean id="adminInterceptor" class="com.faurecia.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_ADMIN"/>
    </bean>
    
    <bean id="plantAdminInterceptor" class="com.faurecia.webapp.interceptor.UserRoleAuthorizationInterceptor">
        <property name="authorizedRoles" value="ROLE_PLANT_ADMIN"/>
    </bean>
    
    <bean id="signupAction" class="com.faurecia.webapp.action.SignupAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>
    
    <bean id="userAction" class="com.faurecia.webapp.action.UserAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="plantManager" ref="plantManager"/>
        <property name="supplierManager" ref="supplierManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
        <property name="templateName" value="accountCreated.vm"/>
    </bean>
    
    <bean id="passwordHintAction" class="com.faurecia.webapp.action.PasswordHintAction" scope="prototype">
        <property name="userManager" ref="userManager"/>
        <property name="mailEngine" ref="mailEngine"/>
        <property name="mailMessage" ref="mailMessage"/>
    </bean>   
    
    <bean id="purchaseOrderAction" class="com.faurecia.webapp.action.PurchaseOrderAction" scope="prototype">
        <property name="purchaseOrderManager" ref="purchaseOrderManager"/>
    </bean> 
    
    <bean id="scheduleAction" class="com.faurecia.webapp.action.ScheduleAction" scope="prototype">
        <property name="supplierManager" ref="supplierManager"/>
    </bean> 
    
    <bean id="itemAction" class="com.faurecia.webapp.action.ItemAction" scope="prototype">
        <property name="itemManager" ref="itemManager"/>
    </bean> 
    
    <bean id="supplierAction" class="com.faurecia.webapp.action.SupplierAction" scope="prototype">
        <property name="plantSupplierManager" ref="plantSupplierManager"/>
    </bean> 
    
    <bean id="deliveryOrderAction" class="com.faurecia.webapp.action.DeliveryOrderAction" scope="prototype">
        <property name="deliveryOrderManager" ref="deliveryOrderManager"/>
        <property name="purchaseOrderDetailManager" ref="purchaseOrderDetailManager"/>    
    </bean> 
</beans>
