<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <component
        id="CriteriaMgr.service"
        service="com.LocalSystem.Service.Ext.Criteria.ICriteriaMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Criteria.Impl.CriteriaMgrE, com.LocalSystem.Service" />

    <!-- MasterData -->
    <component
        id="AppUserMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.IAppUserMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.AppUserMgrE, com.LocalSystem.Service"/>

    <component
        id="AppPermissionMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.IAppPermissionMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.AppPermissionMgrE, com.LocalSystem.Service"/>

    <component
        id="AppUserPermissionMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.IAppUserPermissionMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.AppUserPermissionMgrE, com.LocalSystem.Service"/>

    <component
        id="CodeMasterMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.ICodeMasterMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.CodeMasterMgrE, com.LocalSystem.Service"/>

    <component
        id="ItemMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.IItemMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.ItemMgrE, com.LocalSystem.Service"/>

    <component
        id="SupplierMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.ISupplierMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.SupplierMgrE, com.LocalSystem.Service"/>

    <component
        id="EntityPreferenceMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.IEntityPreferenceMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.EntityPreferenceMgrE, com.LocalSystem.Service" />

    <!-- LanguageMgr -->
    <component
        id="LanguageMgr.service"
        service="com.LocalSystem.Service.Ext.MasterData.ILanguageMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.MasterData.Impl.LanguageMgrE, com.LocalSystem.Service" >
      <parameters>
        <languageFileFolder>#{languageFileFolder}</languageFileFolder>
      </parameters>
    </component>

    <!-- Operation -->
    <component
        id="OutboundLogMgr.service"
        service="com.LocalSystem.Service.Ext.Operation.IOutboundLogMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Operation.Impl.OutboundLogMgrE, com.LocalSystem.Service"/>

    <component
        id="PoDetailMgr.service"
        service="com.LocalSystem.Service.Ext.Operation.IPoDetailMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Operation.Impl.PoDetailMgrE, com.LocalSystem.Service"/>

    <component
        id="PoMgr.service"
        service="com.LocalSystem.Service.Ext.Operation.IPoMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Operation.Impl.PoMgrE, com.LocalSystem.Service">
      <parameters>
        <ftpServer>
          #{ftpServer}
        </ftpServer>
        <ftpPort>
          #{ftpPort}
        </ftpPort>
        <ftpFolder>
          #{ftpFolder}
        </ftpFolder>
        <ftpUser>
          #{ftpUser}
        </ftpUser>
        <ftpPassword>
          #{ftpPassword}
        </ftpPassword>
      </parameters>
    </component>

    <component
        id="BarCodeMgr.service"
        service="com.LocalSystem.Service.Ext.Operation.IBarCodeMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Operation.Impl.BarCodeMgrE, com.LocalSystem.Service" />

    <component
        id="BusinessMgr.service"
        service="com.LocalSystem.Service.Ext.Operation.IBusinessMgrE, com.LocalSystem.Service"
        type="com.LocalSystem.Service.Ext.Operation.Impl.BusinessMgrE, com.LocalSystem.Service" />

  </components>

</configuration>
