<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" DefaultFlushMode="Commit">
			<factory id="nhibernate.factory">
				<settings>
					<item key="hibernate.connection.provider">
						NHibernate.Connection.DriverConnectionProvider
					</item>
					<item key="hibernate.connection.driver_class">
						NHibernate.Driver.SqlClientDriver
					</item>
					<item key="hibernate.connection.connection_string">
						#{connectionString}
					</item>
					<item key="hibernate.dialect">
						NHibernate.Dialect.MsSql2005Dialect
					</item>
					<item key="hibernate.show_sql">
						false
					</item>
					<item key="hibernate.command_timeout">
						300
					</item>
					<!--
					  <item key="hibernate.cache.use_second_level_cache">
						true
					  </item>
					  <item key="hibernate.cache.provider_class">
						NHibernate.Caches.Prevalence.PrevalenceCacheProvider, NHibernate.Caches.Prevalence
					  </item>
					  <item key="hibernate.cache.region_prefix">
						LocalSystem
					  </item>
					  <item key="prevalenceBase">
						d:\prevalenceCache
					  </item>-->
				</settings>
				<assemblies>
					<assembly>com.LocalSystem.Entity</assembly>
				</assemblies>
			</factory>
		</facility>
	</facilities>
	<components>
		<component
		id="generic.data.access"
		service="com.LocalSystem.Persistence.INHDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.NHDaoBase, com.LocalSystem.Persistence" />
		<component
		id="criteria.data.access"
		service="com.LocalSystem.Persistence.Criteria.ICriteriaDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.Criteria.NH.NHCriteriaDao, com.LocalSystem.Persistence" />

		<!-- master data -->
		<component
		id="appUser.data.access"
		service="com.LocalSystem.Persistence.MasterData.IAppUserDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHAppUserDao, com.LocalSystem.Persistence" />

    <component
		id="appPermission.data.access"
		service="com.LocalSystem.Persistence.MasterData.IAppPermissionDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHAppPermissionDao, com.LocalSystem.Persistence" />

    <component
		id="appUserPermission.data.access"
		service="com.LocalSystem.Persistence.MasterData.IAppUserPermissionDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHAppUserPermissionDao, com.LocalSystem.Persistence" />

    <component
		id="codeMaster.data.access"
		service="com.LocalSystem.Persistence.MasterData.ICodeMasterDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHCodeMasterDao, com.LocalSystem.Persistence" />

    <component
		id="item.data.access"
		service="com.LocalSystem.Persistence.MasterData.IItemDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHItemDao, com.LocalSystem.Persistence" />

    <component
		id="supplier.data.access"
		service="com.LocalSystem.Persistence.MasterData.ISupplierDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.MasterData.NH.NHSupplierDao, com.LocalSystem.Persistence" />

    <component
    id="entityPreference.data.access"
    service="com.LocalSystem.Persistence.MasterData.IEntityPreferenceDao, com.LocalSystem.Persistence"
    type="com.LocalSystem.Persistence.MasterData.NH.NHEntityPreferenceDao, com.LocalSystem.Persistence" />
    
    <!-- Operation -->
    <component
		id="outBoundLog.data.access"
		service="com.LocalSystem.Persistence.Operation.IOutboundLogDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.Operation.NH.NHOutboundLogDao, com.LocalSystem.Persistence" />

    <component
		id="PoDetail.data.access"
		service="com.LocalSystem.Persistence.Operation.IPoDetailDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.Operation.NH.NHPoDetailDao, com.LocalSystem.Persistence" />
    
    <component
		id="Po.data.access"
		service="com.LocalSystem.Persistence.Operation.IPoDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.Operation.NH.NHPoDao, com.LocalSystem.Persistence" />

    <component
		id="BarCode.data.access"
		service="com.LocalSystem.Persistence.Operation.IBarCodeDao, com.LocalSystem.Persistence"
		type="com.LocalSystem.Persistence.Operation.NH.NHBarCodeDao, com.LocalSystem.Persistence" />

  </components>
</configuration>
