<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<properties>
		<languageFileFolder>D:\\FJY.LocalSystem\\WebApplication\\LocalSystem\\Resources</languageFileFolder>
		<connectionString>
      Server=localhost;Database=Local_System;uid=sa;pwd=sa;
    </connectionString>
		<defaultFileEncoding>
			GBK
		</defaultFileEncoding>
    <ftpServer>
      localhost
    </ftpServer>
    <ftpPort>
      22
    </ftpPort>
    <ftpFolder>
      /DESADV/INP
    </ftpFolder>
    <ftpUser>
      dx
    </ftpUser>
    <ftpPassword>
      dx
    </ftpPassword>
	</properties>
</configuration>
